<md-card>
  <md-card-title>{{repository.name}}</md-card-title>
  <md-card-subtitle>
    <i class="fa fa-star" aria-hidden="true"></i>
    <span>{{repository.stargazers_count}}</span>
    <i class="fa fa-code-fork" aria-hidden="true"></i>
    <span>{{repository.forks_count}}</span>
    <i class="fa fa-eye" aria-hidden="true"></i>
    <span>{{repository.watchers_count}}</span>
    <span>
      |
    </span>
    <span>last update:
      {{repository.pushed_at | date}}</span>
  </md-card-subtitle>
  <md-card-subtitle>
    <span>{{repository.categories}}</span>
  </md-card-subtitle>
  <!--<md-card-subtitle>
    <span>{{repository.language}}</span>
    <span>
      |
    </span>
    <span>{{repository.size}}Kb</span>
</md-card-subtitle>-->
  <md-card-content>
    <div>
      {{repository.description}}
    </div>
    <div class="buttons">
      <button md-raised-button (click)="toRepository()">Repository</button>
      <button *ngIf="release" md-raised-button (click)="toRelease()">{{release.name}}</button>
    </div>
  </md-card-content>
</md-card>
