mat-card {

    mat-card-header {
        padding-bottom: 10px;
    }

    mat-card-subtitle {
        font-weight: 200;

        .fa,
        .fas,
        .far {
            padding: 0px 5px;
        }
    }

    mat-card-content {
        height: 50px;
        font-weight: 200;
        font-size: 14px;
    }

    mat-card-actions {
        padding: 16px;

        button {
            padding: 8px 12px;
            margin: 0;
        }
    }
}