<div class="site-container">
  <header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
    <div class="wrap">
      <nav class="nav-header-right1">
        <div class="wrap">
          <ul id="menu-meta-menu-1" class="genesis-nav-menu">
            <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52">
              <a href="https://wiki.52north.org" itemprop="url">Wiki</a>
            </li>
            <li id="menu-item-55" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55">
              <a href="https://github.com/52North" itemprop="url">Github</a>
            </li>
            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
              <a href="http://52north.org/" itemprop="url">Home</a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="nav-header-right2">
        <div class="wrap">
          <ul class="genesis-nav-menu">
            <li class="last-update">
              <span>last Update: {{appState.state.lastUpdate | date:'short'}}</span>
            </li>
          </ul>
        </div>
      </nav>

      <div class="mobile-title-area">
        <h1 class="site-title">
          <a href="http://52north.org/">52° North Initiative for Geospatial Open Source Software GmbH</a>
        </h1>
        <h2 class="site-description">exploring horizons</h2>
      </div>

      <nav class="nav-header-main">
        <app-categories></app-categories>
      </nav>
    </div>
  </header>

  <div class="site-inner">
    <router-outlet></router-outlet>
  </div>

</div>
