/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css"; 

html,
body {
    height: 100%;
    background: #F4FAFA;
}

button.active {
    background: #fff;
    color: #009688;
}

button.active:hover {
    color: #fff;
}

.fill {
    flex: 1 1 auto;
}

.app-state {
    margin: 15px;
    flex: 1;
}

.home {
    flex: 1;
}

.genesis-nav-menu .last-update {
    padding: 7px 0px;
}

.site-header.fixed+div {
    border-top: 160px solid transparent;
}

md-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    flex: 0 0 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}