<!--<md-toolbar>
    <button md-button (click)="showCategory('all')">all</button>
    <button md-button *ngFor="let cat of categories" (click)="showCategory(cat.name)">{{cat.name}}</button>
    <span class="fill"></span>
    <button md-button (click)="sortByForks()">forks</button>
    <button md-button (click)="sortByWatches()">watches</button>
    <button md-button (click)="sortByStars()">stars</button>
    <button style="float: right;" md-button (click)="sortByLastUpdate()">updated</button>
</md-toolbar>-->

<div class="row">
  <div *ngFor="let repo of repositories">
    <div class="col-xs-12 col-sm-6 col-lg-4 grid-example" *ngIf="repo.categories.indexOf(appState.state.selectedCategory) > -1 || appState.state.selectedCategory === 'all'">
      <repository [repository]="repo"></repository>
    </div>
  </div>
</div>
