<nav class="nav-header-right2">
  <div class="wrap">
    <ul class="genesis-nav-menu">
      <span> Search: </span>
      <li class="menu-item">
        <input type="text" name="name" (keyup)="textSearch($event)" class="isearch">
        <div id="hovertxt"><p>Search here</p></div>
      </li>
      <span> Sort by: </span>
      <li class="menu-item" [class.current-menu-item]="sorting === 'alphabet'">
        <a (click)="sortByAlphabet()" id="sorttxt">
          <i class="fas fa-sort-alpha-down"></i>
        </a>
        <div id="sort-text">View by Sorting (alphabet)</div>
      </li>
      
      <li class="menu-item" [class.current-menu-item]="sorting === 'stars'">
        <a (click)="sortByStars()" id="sortstars">
          <i class="fa fa-star"></i>
        </a>
        <div id="sort-stars">View by Sorting (Stars)</div>
      </li>
      
      <li class="menu-item" [class.current-menu-item]="sorting === 'forks'">
        <a (click)="sortByForks()" id="sortforks">
          <i class="fas fa-code-branch"></i>
        </a>
        <div id="sort-forks">View by Sorting (Forks)</div>
      </li>
      
      <li class="menu-item" [class.current-menu-item]="sorting === 'watches'">
        <a (click)="sortByWatches()" class="sort-button">
          <i class="fa fa-eye"></i>
          <span class="sort-text">View by Sorting(Watches)</span>
        </a>
      </li>
      
      
      <li class="menu-item" [class.current-menu-item]="sorting === 'lastUpdates'">
        <a (click)="sortByLastUpdate()" class="sort-button">
          <i class="far fa-clock"></i>
          <span class="sort-text">View by Sorting(Last Updates)</span>
        </a>
      </li>
      
    </ul>
  </div>
</nav>

<div class="row">
  <div *ngFor="let repo of repositories">
    <div *ngIf="!repo.hidden">
      <div class="col-xs-12 col-sm-6 col-lg-4 grid-example" *ngIf="repo.categories.indexOf(appState.state.selectedCategory) > -1 || appState.state.selectedCategory === 'all'">
        <app-repository [repository]="repo"></app-repository>
      </div>
    </div>
  </div>
</div>
